/*  your css code here. If applicable */
#animal-photos{
	background:gray;
	width:100vw;
	display:flex;
}
#photo-heading{
	color:white;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
#col{
	display:flex;
	flex-direction:column;
	flex:1;
	margin:20px;
}
#img{
	border-radius:10px;
	margin-top:20px;
}